.App {
  text-align: center;
  background: linear-gradient(to right, #cfcfc9, #E0E0C2, #cfcfc9);
  height: 100%;
  display: flex;
  justify-content: center;
  /*align-items: safe center;*/
  overflow:auto;
}